# '%i' becomes 'virbr10' when running `systemctl start dnsmasq@virbr10.service`

[Unit]
Description=DHCP and DNS caching server for %i
After=network.target

[Service]
ExecStart=/usr/sbin/dnsmasq -k --conf-file=/var/lib/dnsmasq/%i/dnsmasq.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
